nav {
    background-color: #333333;
}

a {
    color: #ff0099;
}

ancor {
    padding: 10%;
}
h1 {
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}