body {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    height: 600px;
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
    flex-direction: column;
}

h1 {
    border-bottom: 3px solid black;
    width: 100%;
}

h2 {
    display: flex;
    align-items: center;
    height: 50px;
    width: 98%;
    background: purple;
    top: 24px;
    left: 11px;
    position: fixed;
}

a {
    display: inline-block;
    height: 20px;
    width: 80px;
    background: cyan;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
}

.item {
    flex: 1;
    height: 450px;
    width: 325px;
    margin: 45px 5px 5px;
}

.content {
    flex: 2;
    background: yellow;
}

.sidebar {
    background: green;
}

footer {
    height: 50px;
    margin: 10px 5px 0px;
    background: gray;
}