.container {
    display: flex;
}

.item {
    flex: 1;    
    width: 200px;
    height: 200px;
}

.green {
    order: 1;
    background: green;
}

.yellow {
    flex: 2;
    background: yellow;
}

.purple {
    order: -1;
    background: purple;
}