
/* https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Positioning */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* http://yoksel.github.io/flex-cheatsheet/ */


/* applied for every element one-by-one: */
* {
    box-sizing: border-box; /*  */
    margin: 0;
    padding: 0;
}

div {
    display: none; /*does not appear on the page*/
}