html {
    display: flex;
    justify-content: center;
}

body {
    display: grid;
    grid-template-rows: 30px 50px auto 50px 50px;
    grid-template-columns: 50px 1fr 2fr 50px;
    border: 3px black solid;
    border-radius: 15px;
    width: 700px;
    height: 500px;
    grid-gap: 5px;
}

header {
    display: flex;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    border-top: 3px black solid;
    background: purple;
    align-items: center;
    justify-content: flex-start;
    padding-left: 55px;
}

a {
    background: aqua;
    margin-right: 20px;
    width: 50px;
    height: 20px;
}

aside {
    grid-column: 2 / 3;    
    grid-row: 3 / 4;
    background: green;
}

main {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background: yellow;
}

footer {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    background: gray;
}