div {
    background-color: blue;
    height: 70px;
    width: 100px;
    margin: 0 10px 0;
    color: white;
    font-size: 30px;
    text-align: center;
    border-radius: 100px;
    padding-top: 30px;
    display: inline-block;
}

div:first-child {
    background-color: purple;
}

div:last-child {
    background-color: yellow
}