p:nth-child(1) {
    height: 113px;
    width: 300px;
    border-width: 16px 16px 0px 16px;
    border-style: solid;
    border-color: #4285f4;
    margin: 0;
    padding: 16px 0 0 16px;
    background-color: #e67676;
    color: #005566;
    font-family: sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

p:nth-child(2) {
    height: 113px;
    width: 300px;
    border-width: 0 16px;
    border-style: solid;
    border-color: #4285f4;
    margin: 0;
    padding: 16px 0 0 16px;
    background-color: #f2f062;
    color: #005566;
    font-family: sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

p:nth-child(3) {
    height: 113px;
    width: 300px;
    border-width: 0 16px;
    border-style: solid;
    border-color: #4285f4;
    margin: 0;
    padding: 16px 0 0 16px;
    background-color: #a9e6e6;
    color: #005566;
    font-family: sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

p:nth-child(4) {
    height: 113px;
    width: 300px;
    border-width: 0 16px 16px;
    border-style: solid;
    border-color: #4285f4;
    margin: 0;
    padding: 16px 0 0 16px;
    background-color: #7692e4;
    color: #005566;
    font-family: sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    vertical-align: middle;
}