* {
    margin: 0;
    border: 0;
}

body {
    display: flex;
    justify-content: center;
    background: lightgray;
}

main {
    width: 130px;
}

span {
    color: rgb(223, 79, 27);
}

article {
    width: 30px;
    height: 23px;
    font-size: 0px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s width;
    border-radius: 3px;
    margin: 50px;
    background: rgb(223, 79, 27);
    font-family: sans-serif;
    color: white;
    padding-top: 7px;
}

div {
    width: 30px;
    height: 35px;
    background: rgb(58, 54, 54);
    position: relative;
    top: -8px;
}

article:hover {
    width: 130px;
    font-size: 16px;
    border-radius: 3px 0 0 3px;    
}

article:hover > div {
    position: relative;
    top: -26px;
}